<div class="four wide column">
    <a href="https://sylius.com/plus" target="_blank" style="display: inline-block; text-align: center;">
        <h4 class="ui inverted header" style="color: #808080;">
            
        </h4>
        
    </a>
</div>