{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="ui hidden divider"></div>

    <div class="ui very padded  secondary segment">
    <div class="ui grid">
        <div class="sixteen wide tablet twelve wide computer  column">
            <h2 class="ui huge header">
               About US
            </h2>
            <br>
            <p>
                The idea of ProTechStuff.in e-commerce portal have been jointly developed by Dilip and Bharath.
		Dilip has been running the retail business independently and as a third party vendor for most popular websites from last few years and delivering products nation wide in India.
		<br><br>
            </p>
            <p>
            	In this journey, We learnt various gaps while we shop using popular websites. After a lot of brainstorming sessions we came up with the idea of ProTechStuff e-commerce portal where we focus on better customer experience, product services, competitive pricing, cash-on-delivery, flexible payment, cash back, loyal customer points, flexible return and refund polices, deals and discounts. This is our attempt to improve overall online shopping experience for our customers and achieve highest level of customer satisfaction. 
		<br><br>
            </p>
            <p>
            Thank you for visiting our website, we will be glad to see you in our order history, often. Cheers!
		<br><br>
            </p>
            <p>
            	<h2>Team ProTechStuff</h2>
            </p>
        </div>
    </div>
</div>
{% endblock %}    	