{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
   <div class="ui hidden divider"></div>

        <div class="ui very padded  secondary segment">
        <div class="ui grid">
            <div class="sixteen wide tablet twelve wide computer  column">
                <h2 class="ui huge header">
                   Privacy Policy
                </h2>
                <br>
                <p>
                   Thank you for choosing ProTechStuff.in for shopping computer related devices and systems. While we care about our customers’ privacy and information our customers can choose to share with us, here is some useful information about our privacy policies. 
            <br><br>
                </p>
                <p>
                   <b> 1.   User information Collected by us: </b> <br/><br/>
At ProTechStuff, we respect our customers' details and privacy. We would save your name, phone number/s, email address, shipping address and order history encrypted to provide you a better shopping experience and enable users to track their orders, invoice and status of delivery. 
<br/><br/>
<b> 2.  How do we use the data saved? </b>
<br/><br/>
&emsp; a. Unlike other websites, we do not want to encroach our customers' tech space on their devices and we trust our customers would come back to ProTechStuff.in for all their future shopping needs. 
<br/><br/>
&emsp; b. Customers may see ads about ProTechStuff.in on their social media platforms that includes deals and promos 
<br/>
&emsp; c. Ads or promotions on social media would not be related to our customers order history.
<br/><br/>
&emsp; d. Our customers’ data is secure with us. We would not be sharing our data with any third party organizations in any format. 
<br/><br/>
<b> 3.  Payment Data:  </b> <br/><br/>
Customers’ payment details are a crucial asset which has always been at high risk for any e-commerce organization. At ProTechStuff we have integrated trusted payment gateways like PhonePay and GooglePay for payment. This ensures that ProTechStuff.in is not caching/storing customers credit card, debit card and other payment details. So you can relax and shop while you are not worried about the mishandling of payment information. 
<br/><br/>
<b> 4.  Who can use ProTechStuff.in?  </b> <br/><br/>
Any users’ who are looking for better pricing of computer devices. 
            <br><br>
                </p>
            </div>
        </div>
    </div>
{% endblock %}    