{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
   <div class="ui hidden divider"></div>

    <div class="ui very padded  secondary segment">
    <div class="ui grid">
        <div class="sixteen wide tablet twelve wide computer  column">
            <h2 class="ui huge header">
              Terms and Conditions
            </h2>
            <br>
            <p>
                Aloha!! We are glad to see you here! By shopping in ProTechStuff.in you agree to these conditions: 
        <br><br>
            </p>
            <p>
              <b> 1.   Privacy : </b> <br/><br/> Please read our Privacy Policy (provide link here) to know how much we really care about our customers. 
<br/><br/>
<b> 2.  Notifications: </b> <br/><br/> 
To ensure our customers are updated with their order details and shipment details, we would send emails/text messages to notify the status. We would not send you any ads or promo emails unless you opt-in. 
<br/><br/>
<b> 3.  Pricing: </b> <br/><br/> 
We price the products sold on ProTechStuff.in to ensure users pay the best-minimum price for the products shopped online. 
<br/><br/>
<b> 4.  Product Reviews, Ratings and Comments: </b> <br/><br/>
We encourage our customers to leave behind reviews, ratings and comments for their order. This would help other users to make wise decisions to choose the right product. Any derogatory/racial/sexist comments that might impact social harmony to any individual, community or religion will not be tolerated. Such comments will be removed immediately and strict actions may be taken against such users. 
<br/><br/>
<b> 5.  Returns and Refunds: </b> <br/><br/>
For any reason if you are not satisfied by the product bought on ProTechStuff.in or the service provided by us, you can return the product <b>within 7 days</b> from the date of purchase. While returning we expect you to return the product without any damages to the package. The unopened or unsealed Products returned without any damages will get 100% refund within 30 days from the date of return. If the product seal is opened or the product is damaged, then the returned product may not be eligible for refund. We enforce this Return and Refund policy as strictly as possible so our users will always get 100% genuine and new products.

        <br><br>
<br/><br/>
<b> 6. Shipments: </b> <br/><br/>        
Please refer to our "<u>Package and Shipment</u>" and "<u>Shipments" policies for more info. 
<br><br>
            </p>
            <p>
                 <h2 class="ui huge header">
                  Disclaimer
                </h2>
            </p>
            <p>
            We advise caution and discretion whenever making use of content posted on our website.
           </p>     
        </div>
    </div>
</div>
{% endblock %}    